
<!--{{person.name}}
<app-child [title]="person.name" (onNameChange)="handleOnNameChange($event)"  #param></app-child>-->
<!--<div *ngFor="let response of responses$ | async">{{response.title}}</div>
 <p>This is in-built paragraph</p>
<p appCustom>This is Custom Paragraph </p>
<div #childComp></div>
<p #param>this normarl paragraph which uses the view child</p> 
<app-lifecycle [demo]="title" *ngIf="isSh" ></app-lifecycle>
<input type="button" class="btn btn-info" name="button" value="okay" (click)="isSh = !isSh">
<input type="button" class="btn btn-warning" name="okay" value="button" (click)="onChange()">
<app-databinding>
    <div class="alert alert-success" #app>
    Hi this is content from app component
    </div>
</app-databinding>
<app-custalert [ttl]="'Android is the best the OS'" [typ]="'info'" (BtnClk)="Clk($event)"></app-custalert>
<app-custalert [ttl]="'Java is a programming language'" [typ]="'success'" (BtnClk)="Clk($event)"></app-custalert>
<div class="container">
    <div class="col-md-12">
        {{ttll}}
        {{typl}}
    </div>
</div>-->
<!--<app-services></app-services>-->
<!--<app-databinding>
    <app-child></app-child>
    <app-child></app-child>
    <div class="alert alert-success" #app>
    Hi this is content from app component
    </div>
</app-databinding>-->
<!--<app-directive></app-directive>
<app-rxjsfeatures></app-rxjsfeatures>-->
<app-interceptors></app-interceptors>