<div class="container">
    <div class="col-md-12">
        RPM is {{crRpm}}
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <input type="button" value="plus" class="btn btn-primary" (click)="inc(1)">
        <input type="button" value="minus" class="btn btn-warning" (click)="inc(2)">
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        {{altVal}}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-picker></app-picker>
    </div>
    <div class="col-md-6">
        <app-maker></app-maker>
    </div>
</div>
